node_modules/
*/typescript/dist/
*/ts/dist/
.DS_Store
doc/
.classpath
coverage.html
coverage.out
.project
.vscode
.settings
target/
.idea/
*/java/*.iml
obj/
.libraries.json
libraries/
*.sh
*.cache

**/csharp/**/bin/
**/csharp/**/obj/
.vs/
go.sum
*.iml